{% include head.html %}

    <!-- <h1>{{ page.title }}</h1> -->

<div class="all-content">
	<div class="container-fluid col-md-6 col-md-offset-3">
		<div class="row">
			<div class="content-block-1">
				<section class="white-block">
					<h1 class="all-text">Hi! I'm Jamie.<br> This is my future portfolio site! <br> Contact me at: jnmarcus87@gmail.com</h1>
				</section>

			</div>
		</div>
	</div>

	<div class="content-block-2">
		<div class="button-block">
			<a href="http://bit.ly/1gSIQwS" target="_blank"class="btn btn-success btn-outline btn-lg"><i class="fa fa-twitter fa-2x"></i>  Twitter</a>
		</div>
		<div class="button-block">
			<a href="http://linkd.in/1jVtBq8" target="_blank" class="btn btn-success btn-outline btn-lg"><i class="fa fa-linkedin fa-2x"></i>   Linkedin</a>
		</div>
		<div class="button-block">
			<a href="http://bit.ly/1eellcy" target="_blank"class="btn btn-success btn-outline btn-lg"><i class="fa fa-github fa-2x"></i>   Github</a>
		</div>
		<div class="button-block">
			<a href="http://bit.ly/1h6rGvr" target="_blank" class="btn btn-success btn-outline btn-lg"><i class="fa fa-pinterest fa-2x"></i>   Pinterest</a>
		</div>
	</div>

</div>


    {{ content }}

{% include foot.html %}